@use '../Layout/Layout.module';

.main {
  grid-area: body;
  //grid-column: 3 / 4;

  margin: auto;
}

.box {
  background-color: Layout.$main-color;
  box-shadow: 0 1px 3px 1px black;
  border-radius: 3%;

  width: 520px;
  height: 720px;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  .textSection {
    margin-bottom: 10px;
    .heading {
      font-family: Poppins, sans-serif;
      font-size: 30px;
      font-weight: 800;

      margin-bottom: 20px;

    }

    .description {

      margin-bottom: 10px;

      .link{
        color: #E40066FF
      }

    }

    .hr {
      width: auto;
    }
  }

  .inputSection {
    display: flex;
    flex-direction: column;

  }


}


