@use '../Layout/Layout.module';

.chatWrapper {
  grid-area: body;
  display: grid;

  grid-template-areas: '. chat  .'
                       '. input .';
  grid-template-rows: 7fr 1fr;
  grid-row-gap: 10px;

  .chatInput {
    grid-area: input;

    display: flex;
    flex-direction: row;
    //justify-items: center;
    justify-content: center;
    align-items: center;

    margin-bottom: 10px;

    textarea {
      background: none;
      color: Layout.$text-color;
      outline: none;
      resize: none;
      border: 3px solid Layout.$main-color;
      border-radius: 10px;

      font-family: Poppins, sans-serif;
      font-size: 14px;

      width: 200px;
      height: 40px;
    }

    textarea::-webkit-scrollbar {
      display: none;
    }

    textarea:focus {
      border-color: Layout.$accent-color
    }

    input {
      background: none;
      color: Layout.$text-color;
      border: 3px solid Layout.$main-color;
      border-radius: 5px;
      outline: none;

      font-family: Poppins, sans-serif;
      font-size: 14px;

      width: 200px;
      height: 20px;
    }

    input:focus {
      border-color: Layout.$accent-color;
    }

    button {
      border: 0;
      border-radius: 10px;
      background-color: rgba(256, 256, 256, .03);

      align-self: flex-end;

      margin-left: 1em;

      .sendIcon {
        width: 40px;
        height: 40px;
        color: Layout.$main-color;
      }

    }

    button:hover {
      .sendIcon {
        color: Layout.$accent-color;
      }
    }

    button:focus {
      .sendIcon {
        color: Layout.$accent-color;
      }
    }

  }

  .chatBox {
    grid-area: chat;
    margin-top: 10px;
    width: 90%;

    border: 3px solid Layout.$main-color;
    border-radius: 10px;

    justify-self: center;

    display: flex;

    .messageBox {

    }

  }
}
