$bg-color: #221620;
$main-color: #4A2138;
$main-shadow: #bfc0c0;
$accent-color: #e40066;
$text-color: #f0f0f0;

.wrapper {
  background-color: $bg-color;
  color: $text-color;

  display: grid;
  //grid-template-rows: 65px auto 65px;
  //grid-template-columns: minmax(1px, 100px) minmax(3fr, 1000px) minmax(1px, 100px);
  grid-template-areas:
          "header   header   header   header   header"
          ".        body     body     body     .     "
          "footer   footer   footer   footer   footer";
  grid-template-rows: 72px auto 72px;
  grid-template-columns: minmax(0px, 10px) 2fr 2fr 2fr minmax(0px, 10px);

  width: 100vw;
  height: 100vh;

}