@use '../Layout/Layout.module';

.main {
  grid-area: body;
  grid-column: 3 / 4;

  margin: auto;
}

.box {
  background-color: Layout.$main-color;

  width: 520px;
  height: 720px;

  border-radius: 3%;
  box-shadow: 0 1px 3px 1px black;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.heading {
  font-family: Poppins, sans-serif;
  font-size: 30px;
  font-weight: 800;

}