@use "../Layout/Layout.module";

.header {
  grid-area: header;

  background-color: Layout.$main-color;

  display: inline-flex;

  font-weight: bold;

  align-items: center;
  flex-wrap: wrap;

  .logoLink {

    .logo {
      display: inline-flex;
      margin-left: 4em;

      .logoImage {
        display: inline;
        //margin-left: 1.5em;
        font-size: 30px;
        padding-top: 15px;
      }

      .logoName {
        display: inline;
        padding-top: 10px;
        h1 {
          font-size: 30px;
          font-family: Inconsolata, sans-serif;
        }
      }
    }
  }

  .logoLink:hover {
    color: Layout.$accent-color;
    cursor: pointer;

    a {
      //text-shadow: 1px 1px 2px black;
      -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
      filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
    }

    svg {
      -webkit-filter: drop-shadow( 2px 2px 1px rgba(0, 0, 0, .7));
      filter: drop-shadow( 2px 2px 1px rgba(0, 0, 0, .7));
    }

  }

  .link {
      padding: 5px;
    }

  .link:hover {
    color: Layout.$accent-color;
    cursor: pointer;

    background-color: rgba(0, 0, 0, .2);
    border-radius: 5%;

  }

  .navbar {
    margin-left: auto;
    padding-right: 2em;
    font-size: 20px;

    a {
      display: inline;
      margin-right: 2em;
    }

  }

}




